<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
</head>
<body>
<form action="/adddocument" method="get">
    Add Document: <input type="submit" value="Submit">
</form>
<form action="/search" method="get">
    Search: <input name="searchquery" type="text">
    <input type="submit" value="Submit">
</form>
<form action="/addreaderform" method="get">
    Add Reader: <input type="submit" value="Submit">
</form>
<form action="/branches" method="get">
    Print Branch Info:
    <input type="submit" value="Print">
</form>
<form action="/borrowerlist" method="get">
    Print Top 10 Borrowers: <input type="submit" value="Print">
</form>
<form action="/toptenborrowedbooklist" method="get">
    Print Top 10 Borrowed books:
    <input type="submit" value="Print">
</form>
<form action="/toptenpopularbooklist" method="get">
    Print Top 10 polular books:
    <input type="submit" value="Print">
</form>
<form action="/fineperreader" method="get">
    Fine per reader:
    <input type="submit" value="Submit">
</form>
</body>
</html>