<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/adddocument" method="get">
    Add Document: <input type="text" name="document"><br>
    <input type="submit" value="Submit">
</form>
<form action="/search" method="get">
    Search: <input type="text" name="searchquery"><br>
    <input type="submit" value="Submit">
</form>
<form action="/addreader" method="get">
    Add Reader: <input type="text" name="reader"><br>
    <input type="submit" value="Submit">
</form>
<form action="/branchinfo" method="get">
    Print Branch Info: <input type="text" name="branchinfo"><br>
    <input type="submit" value="Print">
</form>
<form action="/borrowerlist" method="get">
    Print Top 10 Borrowers: <input type="text" name="borrowerlist"><br>
    <input type="submit" value="Print">
</form>
<form action="/borrowedbooklist" method="get">
    Print Top 10 Borrowered books: <input type="text" name="borrowedbooklist"><br>
    <input type="submit" value="Print">
</form>
<form action="/popularbooklist" method="get">
    Print Top 10 polular books: <input type="text" name="popularbooklist"><br>
    <input type="submit" value="Print">
</form>
<form action="/fineperreader" method="get">
    Fine per reader: <input type="text" name="fine"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>