<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="student: ${students}">
    <td th:text="${student.id}" />
    <td th:text="${student.name}" />
</tr>

<table>
    <thead>
        <tr>
            <th>Document ID</th>
            <th>Title</th>
            <th>Publish Date</th>
            <th>Publisher Id</th>
            <th>Publisher Name</th>
            <th>Publisher Address</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="document: ${books}">
            <td th:text="${document.docId}" />
            <td th:text="${document.title}" />
            <td th:text="${document.pDate}" />
            <td th:text="${document.publisherId}" />
            <td th:text="${document.publisherName}" />
            <td th:text="${document.publisherAddress}" />
        </tr>
    </tbody>
</table>

</body>
</html>