<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/search" method="get">
    Search: <input type="text" name="searchquery">
    <input type="submit" value="Submit">
</form>
<form action="/checkout" method="get">
    Checkout: <input type="text" name="checkoutquery">
    <input type="submit" value="Submit">
</form>
<form action="/return" method="get">
    Return: <input type="text" name="returndocument">
    <input type="submit" value="Submit">
</form>
<form action="/reserve" method="get">
    Reserve: <input type="text" name="reservedocument">
    <input type="submit" value="Submit">
</form>
<form action="/fine" method="get">
    Fine: <input type="submit" value="Submit">
</form>
<form action="/documentbypublisher" method="get">
    Documents from a Publisher: <input type="text" name="document">
    <input type="submit" value="Submit">
</form>
<form action="/quit" method="get">
    Quit: <input type="submit" value="Submit">
</form>
</body>
</html>