<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Reader ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Fine</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="reader: ${reader}">
            <td th:text="${reader.readerId}" />
            <td th:text="${reader.rType}" />
            <td th:text="${reader.rName}" />
            <td th:text="${reader.fine}" />
        </tr>
    </tbody>
</table>

</body>
</html>