<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/search" method="get">
    Search: <input type="text" name="searchquery"><br>
    <input type="submit" value="Submit">
</form>
<form action="/checkout" method="get">
    Checkout: <input type="text" name="checkoutquery"><br>
    <input type="submit" value="Submit">
</form>
<form action="/return" method="get">
    Return: <input type="text" name="returndocument"><br>
    <input type="submit" value="Submit">
</form>
<form action="/reserve" method="get">
    Reserve: <input type="text" name="reservedocument"><br>
    <input type="submit" value="Submit">
</form>
<form action="/fine" method="get">
    Fine: <input type="text" name="readerfine"><br>
    <input type="submit" value="Submit">
</form>
<form action="/print" method="get">
    Print: <input type="text" name="printdocument"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>