<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Borrowed Books</title>
</head>
<body>
<table>
        
    <thead>
        
    <tr>
            
        <th>Title</th>
            
        <th>Count</th>
            
    </tr>
    </thead>
        
    <tbody>
        
    <tr th:each="document: ${books}">
        <td th:text="${document.title}"/>
        <td th:text="${document.count}"/>
                
    </tr>
    </tbody>
</table>

</body>
</html>